
.cus-border{
	border: 1px solid;
	width:25%;
	float:left;
}

@media (min-width: 720px) {  
	.col-sm-3{
		width:25% !important;
		float: left;
	}

}

@media (max-width: 720px) and (min-width: 360px){  
	.col-sm-3{
		width:50% !important;
		float: left;
	}

}

@media (max-width: 360px) {  
    .col-sm-3{
		width:100% !important;
		float: left;
	}
}
